<div class="palettes">
    <h2>Listado de paletas:</h2>
    <ul class="palettes__list js-palettes-container">
        <!-- Aquí empieza el código que vamos a generar desde JS -->
        <!-- <li class="palette">
            <h2 class="palette__title">Tardis Blue</h2>
            <div class="palette__colors">
            
                <div class="palette__color" style="background-color: #003a6e"></div>
                <div class="palette__color" style="background-color: #9b9a99"></div>
                <div class="palette__color" style="background-color: #000000"></div>
                <div class="palette__color" style="background-color: #ffffff"></div>
                <div class="palette__color" style="background-color: #6f4500"></div>
            </div>
        </li>
        <li class="palette">
            <h2 class="palette__title">Millenium Falcon</h2>
            <div class="palette__colors">
                <div class="palette__color" style="background-color: #b6b6be"></div>
                <div class="palette__color" style="background-color: #d8d7d4"></div>
                <div class="palette__color" style="background-color: #413a31"></div>
                <div class="palette__color" style="background-color: #746c66"></div>
                <div class="palette__color" style="background-color: #a32d2c"></div>
            </div>
        </li>
        <li class="palette">
            <h2 class="palette__title">Battlestar Galactica</h2>
            <div class="palette__colors">
                <div class="palette__color" style="background-color: #080f19"></div>
                <div class="palette__color" style="background-color: #1b2e3f"></div>
                <div class="palette__color" style="background-color: #364269"></div>
                <div class="palette__color" style="background-color: #3d6973"></div>
                <div class="palette__color" style="background-color: #e5635f"></div>
            </div>
        </li>
        <li class="palette">
            <h2 class="palette__title">Serenity</h2>
            <div class="palette__colors">
                <div class="palette__color" style="background-color: #3c5375"></div>
                <div class="palette__color" style="background-color: #7285a6"></div>
                <div class="palette__color" style="background-color: #96aabf"></div>
                <div class="palette__color" style="background-color: #f1db7e"></div>
                <div class="palette__color" style="background-color: #0c0c0c"></div>
            </div>
        </li>
        <li class="palette">
            <h2 class="palette__title">Nostromo</h2>
            <div class="palette__colors">
                <div class="palette__color" style="background-color: #08070c"></div>
                <div class="palette__color" style="background-color: #f4f3f5"></div>
                <div class="palette__color" style="background-color: #121828"></div>
                <div class="palette__color" style="background-color: #464f75"></div>
                <div class="palette__color" style="background-color: #9abef2"></div>
            </div>
        </li> -->
        <!-- Aquí acaba el código que vamos a generar desde JS -->
    </ul>
</div>